# Rails
/.bundle

/db/*.sqlite3
/db/*.sqlite3-journal

/log/*.log
/tmp

/vendor/assets/components

/config/config.yml
/config/database.yml
/config/secrets.yml
/config/puma.rb
/config/intializers/devise.rb
/config/initializers/rails_extra_config.rb
/config/email.yml
/config/cable.yml
/config/initializers/application_controller_renderer.rb

/public/assets

# Jetbrains IDE
.idea
*.iml
*.ipr
*.iws

# OS specific
.DS_store

# Build tools
out
build
target

# Misc
npm-debug.log
