<div class="page-panel paragraph">
    <h3>
        User Agreement
    </h3>
    <p>
        By using this web site, you agree to the following terms:
    </p>

    <h4>Use of Service</h4>
    <p>
        Qomo is a free, public, Internet accessible resource (the "Service").
        Data transfer and data storage are not encrypted.
        If there are restrictions on the way your research data can be stored and used,
        please consult your local institutional review board or the project principal investigator before uploading it to any public site,
        including this Service.
        Your access to the service may be revoked at any time for reasons deemed necessary by the operators of the Service.
    </p>

    <h4>Disclaimer</h4>
    <p>
        The Service is provided to you on an "AS IS" BASIS and WITHOUT WARRANTY,
        either express or implied, including, without limitation, the warranties of non-infringement, merchantability or
        fitness for a particular purpose.
        THE ENTIRE RISK AS TO THE QUALITY OF THE SERVICE IS WITH YOU.
        This DISCLAIMER OF WARRANTY constitutes an essential part of this service agreement.
    </p>

    <h4>Limitation of Liability</h4>
    <p>
        Under no circumstances and under no legal theory, whether in tort (including negligence),
        contract, or otherwise, shall The Zhang Lab be liable to anyone for any indirect, special,
        incidental, or consequential damages of any character arising as a result of the use of this Service including,
        without limitation, damages for loss of goodwill, work stoppage, computer failure or malfunction,
        or any and all other commercial damages or losses.
        This limitation of liability shall not apply to the extent applicable law prohibits such limitation.
    </p>

    <h4>Abusing</h4>
    <p>
        Without limiting other remedies, we may, limit, suspend, or terminate our service and user accounts,
        restrict or prohibit access to, and your activities on, our Service, delay or remove hosted content,
        remove any special status associated with the account, and take technical and
        legal steps to keep you from using our Service if:
    <ul>
        <li>
            we think that you are creating problems or possible legal liabilities;
        </li>
        <li>
            we think that such restrictions will improve the security of the Qomo community
            or reduce our or another Qomo user's exposure to financial liabilities;
        </li>
        <li>
            we think that you are infringing the rights of third parties;
        </li>
        <li>
            we think that you are acting inconsistently with the letter or spirit of this User Agreement or our policies.
        </li>
    </ul>

    </p>

</div>
