defaults: &defaults
  nfs: /mapr/qomo.cbb/qomo_<%= Rails.env%>
  admin:
    username: xingjian
    email: xuxingjian@big.ac.cn
  tools:
    bundle:
      - https://github.com/qomoteam/kakscalc-qomo.git
  lib:
    streaming: hadoop-streaming-2.0.0-mr1-cdh4.3.0.jar
    common: qomo-common-0.0.1-SNAPSHOT.jar
  hadoop:
    username: qomo
    bin: /opt/mapr/bin/hadoop
  rmq:
    host: h2
    user: qomo
    pass: qomo
    vhost: qomo


development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
