/*
 *= require_directory .
 *= require jquery-layout
 *= require_self
 */
.pane
  display:	none
  padding: 0
  border: 0
  .aui-tabs.horizontal-tabs > .tabs-menu > .menu-item
    a
      border-radius: 0
    &:first-child
      margin-left: 0
      a
        border-left: 0

.tabs-pane
  padding: 10px

#content
  width: 100%

.page-witdh-small
  .aui-page-panel
    width: 500px
    .aui-message
      h2
        font-size: 1em
        line-height: 1em
