/*
 *= require artDialog
 *= require notie
 *= require jstree
 *= require pace
 *= require dragula
 *= require hint
 *= require social-share-button
 */

@import font-awesome-sprockets
@import font-awesome
@import bourbon

$topnav_color: #0c64b6

*:focus
  outline: none !important

body
  min-width: 1250px

table
  table-layout: fixed
  td
    word-wrap: break-word
    &.empty
      text-align: center !important

h3:first-child
  margin-top: 0 !important

.monospace
  font-family: monospace !important

tr.empty td
  text-align: center !important
  line-height: 2.5em

.page-panel
  width: 1100px
  margin: 12px auto !important
  padding: 16px 20px
  border-radius: 5px
  border: 1px solid #ccc
  box-sizing: border-box
  background-color: white
  &.wider
    width: 90%

#header
  float: none
  background-color: $topnav_color
  border-bottom-color: $topnav_color
  .aui-nav
    a.active
      background-color: #0154a6
    color: #C8E4FF

.clearfix
  @include clearfix

#logo
  margin-right: 2em
  .bigd-logo
    padding: 0
    margin-right: 5px
    &:hover, &:active
      background-color: $topnav_color
    img
      height: 16px
      margin-top: 3px
  .subtitle
    float: left
    color: honeydew
    font-size: 11px
    font-style: italic
    height: 40px
    line-height: 50px
    margin-left: 2px

fieldset.section
  legend
    display: block
    margin: 0 0 5px 0
    padding: 0
    color: black
    font-size: 1.2em
    font-weight: bold
    width: 400px
    text-align: left

table.def
  width: 100%
  td
    vertical-align: top
    &:first-child
      font-weight: bold
      &:after
        content: ":"

.aui-expander-content
  min-height: 1.5em

.tech-label
  font-size: 8px !important
  margin-top: 5px !important
  float: right

.tech-label-hadoop
  background-color: #14892c !important
  border-color: #14892c !important
  color: #fff !important

.tech-label-spark
  background-color: #f6c342 !important
  border-color: #f6c342 !important
  color: #594300 !important

.tech-label-gpu
  background-color: #d04437 !important
  border-color: #d04437 !important
  color: #fff !important

.tech-label-mpi
  background-color: #815b3a !important
  border-color: #815b3a !important
  color: #fff !important

.paragraph
  text-align: justify
  p
    margin: 1em 0 0 0
    &:first-of-type
      margin-top: 0
  ul, ol
    padding-left: 1.5em
    margin-top: 0

.section-separator
  margin: 24px 0
  position: relative
  text-align: center
  width: 100%
  &:first-of-type
    margin-top: 0
  &:before
    background-color: #DEDEDE
    content: ""
    display: block
    height: 1px
    left: 0
    position: absolute
    right: 0
    top: 45%
    z-index: 1
  .section-separator-title
    background-color: white
    color: #989898
    display: inline-block
    line-height: 24px
    margin-left: 24px
    margin-right: 24px
    padding: 0 24px
    position: relative
    z-index: 2

.btn-explore
  background: #306091
  border: 1px solid #184061
  border-radius: 4px
  padding: 6px 8px !important
  margin: 6px 5px 0 0
  font-weight: bolder
  -webkit-font-smoothing: antialiased

a.external-link
  &:after
    font: normal normal normal 0.8em FontAwesome
    content: " \f08e"

.nav-toolbar
  height: 38px
  margin-bottom: 2px
  border-bottom: 1px #DEDEDE solid
  .primary
    float: left
    .aui-nav-breadcrumbs
      margin-top: 6px
  .secondary
    float: right
    form.quicksearch
      display: inline-block
      margin-right: 28px
      &:last-child
        margin-right: 0
      input
        width: 218px
        height: 30px
        line-height: 20px
        padding: 4px 5px
        border: 1px solid #ccc
        box-sizing: border-box
        margin: 0
        vertical-align: top
        border-top-left-radius: 3px
        border-bottom-left-radius: 3px
        border-right: none
      button
        border-top-left-radius: 0 !important
        border-bottom-left-radius: 0 !important

.aui-toolbar2 .aui-button
  margin-top: 0px !important

.aui-nav.aui-nav-breadcrumbs
  li
    font-weight: bold

.aui-message
  padding-top: 8px !important
  padding-bottom: 8px !important

ul.seplist
  list-style: none
  padding: 0
  li
    float: left
    margin-right: 5px
    &:after
      content: ","
    &:last-of-type:after
      content: ""

h1 small, h2 small, h3 small, h4 small, h5 small
  margin-left: 1em

table.bordered
  border: 1px solid #DEDEDE

.nowrap
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.empty-placeholder
  text-align: center
  margin: 18px 28px
  padding: 38px 28px
  border: 1px dashed #DEDEDE
  background-color: #FAFAFA
  p
    font-style: italic

.panel
  margin-bottom: 20px
  background-color: #ffffff
  border: 1px solid #DDDDDD
  border-radius: 4px
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.05)
  box-shadow: 0 1px 1px rgba(0,0,0,0.05)
  .panel-heading
    padding: 3px 14px
    color: #555555
    background-color: #f5f5f5
    border-bottom: 1px solid #dddddd
    border-top-right-radius: 3px
    border-top-left-radius: 3px
    height: 25px
    .panel-title
      margin-top: 3px !important
      margin-bottom: 0
      font-size: 14px
      font-weight: bold
      display: inline-block
    .secondary
      float: right
      margin-top: 2px
  .panel-body
    padding: 2px 12px
    ul
      padding-left: 16px

table.draggable
  cursor: grab
  cursor: -webkit-grab
  width: 100%
  border: 1px dotted #0fbad6
  margin: 12px 0
  &:first-of-type
    margin-top: 0
  td
    padding-right: 10px
    &.label
      padding-left: 10px
    &.remove-table-td
      padding-right: 0
      border-right: 1px dotted #0fbad6
  label
    input[type=checkbox]
      width: 20px
  input[type=text], select
    width: 100%
  input[type=checkbox]
    margin-top: 2px
  textarea
    width: 100%
    border-color: #ccc
  .edit-options
    margin-left: 10px
  .options
    display: none
    max-width: 600px !important
  th
    height: 22px
  td, th
    text-align: left

.publications
  padding-left: 20px
  .meta
    margin-top: 0
    font-size: 12px
  .citation
    font-size: 12px
    color: green

.rich-list
  padding: 0
  li
    list-style: none
    border-bottom: 1px solid #dedede
    padding: 15px 0
    &:first-child
      padding-top: 0
    &:last-child
      border-bottom: none

  .logo-container
    width: 88px
    height: 88px
    background-color: #0fbad6
    vertical-align: middle
    display: table-cell
    h5
      color: white
      text-align: center

  .desc
    margin-top: 2px
    margin-bottom: 0
    font-size: 14px
    color: #666
    height: 20px
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

  .meta
    display: block
    margin-top: 8px
    margin-bottom: 0
    font-size: 12px
    color: #888
    &+.meta
      margin-top: 0
    span
      margin-right: 10px
      &:after
        content: '\2022'
        margin-left: 10px
      &:last-of-type:after
        content: ''

span.error-message
  color: red

label.field_with_errors
  color: red !important
  & + .error-message
    display: inline-block

input.field_with_errors
  border-color: red !important
  & + .error-message
    margin-left: 5px

.title
  h1, h2, h3, h4, h5
    display: inline-block
  .secondary
    font-size: 14px
    float: right

#cas-page
  .cas-page-title
    padding-bottom: 15px
    img
      top: 8px
      position: relative
      margin-right: 5px
      height: 38px
  .login-details
    padding-right: 68px
  .login-links
    border-left: 1px solid #DEDEDE
    ul
      list-style: circle
      margin-left: 20px
      padding-left: 0

a.rucaptcha-image-box
  img
    height: 30px
    margin: -8px 8px
