/*
 *= require aui
 */
*:focus
  outline: none !important

body
  min-width: 1100px

#header
  float: none
  .aui-nav a.active
    background-color: #3572b0

#logo
  margin-right: 2em
  .version
    float: left
    color: honeydew
    font-size: 10px
    height: 40px
    line-height: 50px
