//= require jquery-fine-uploader

.nav-path
  height: 26px
  margin: 0 10px 0 0
  float: left
  li
    margin-top: 14px
  a
    line-height: 0.428571

.viewer-text
  overflow: auto
  margin-top: 1em
  background-color: white
