//= require jquery-fine-uploader

#nav-datastore
  .nav-path
    margin: 0 10px 0 0
    float: left
    li
      margin-top: 5px
    a
      line-height: 0.428571

table.tbl-files
  a
    text-decoration: none
  .file-icon
    margin-right: 5px

.viewer-text
  .content
    overflow: auto
    margin-top: 1em
    padding: 10px 20px
    background-color: white

.viewer-tsv
  table tr.header td
    background-color: #DEDEDE
    color: black
    font-weight: bold

.viewer
  .pagination
    width: 600px
    margin: 16px auto

