.small
  font-size: 0.8em

.job-meta
  margin-top: 6px
  span
    margin-right: 20px
  .right
    text-decoration: none
    margin-left: 20px
    float: right
    font-weight: bold

table.job-unit
  border: 1px solid #DEDEDE
  pre
    display: inline-block
    overflow-x: auto
    width: 100%
    min-height: 2.5em
