.scholar
  .bio
    width: 30%
    .user-title
      margin-top: 5px
      color: #5c5c5c
      font-size: 1.2em
    ul.user-details
      list-style: none
      padding: 12px 0
      border-top: 1px #e5e5e5 solid
      border-bottom: 1px #e5e5e5 solid
      li
        padding-left: 0
        padding-top: 3px
        padding-bottom: 3px
        i.fa
          width: 22px
          color: #6D6D6D
  .pipeline-explorer
    li
      padding: 5px 0
