table.params-def
  width: 100%
  td
    padding-right: 10px
  input
    width: 100%
  input[type=checkbox]
    margin-top: 2px
  .edit-options
    margin-left: 10px
  .options
    display: none
    max-width: 600px !important
  th
    height: 22px
  td, th
    text-align: left

.tool-tech
  font-size: 8px
  vertical-align: middle