form#edit-tool-form
  fieldset
    border: 1px solid #DEDEDE
    margin-bottom: 10px
    border-radius: 5px
    padding: 10px 10px
    &:first-of-type
      margin-top: 0
    h4
      margin: 20px 0 5px 0
      &:first-of-type
        margin-top: 0

  .field-group
    input, select
      width: 96%
      &.novalidation
        width: 100%

  .buttons
    border-top: 1px dashed #D8D8D8
    padding-top: 10px
    margin-top: 15px

  .runtime-settings
    margin-top: 15px

.add-param
  margin-left: 15px

fieldset
  .empty-placeholder
    margin: 0 0 20px 0

#param-defs
  .param-def
    .edit-options
      margin-left: 10px
    .options
      display: none
      max-width: 600px !important
    .options
      button
        font-size: 10px

small.tip
  margin-left: 10px
  font-size: 12px !important

ul.releases
  list-style: none
  padding-left: 0 !important
  margin-right: 5px
  & > li
    margin-top: 10px
    padding-bottom: 10px
    border-bottom: 1px dashed #DEDEDE
    &:last-child
      border-bottom: none
    .meta
      margin-left: 17px
      span
        margin-right: 20px
        color: #888
        font-size: 0.8em
    h5
      color: #666
    ul
      margin-top: 0
      list-style: none

.title
  h2
    margin-top: 0

