#canvas-toolbar
  margin: 0 20px
  height: 30px
  .text
    float: left
    margin-right: 20px
    padding-top: 5px
  .aui-button
    margin-top: 3px
    height: 24px
    line-height: 10px
#canvas
  border-bottom: 1px solid #cccccc
