/*
 *= require jsPlumb
 */
@import bourbon

body[data-controller=workspaces][data-action=show]
  #footer
    display: none
  #content
    padding-bottom: 0px !important

#canvas-toolbar
  margin: 0 20px
  height: 30px
  .text
    float: left
    margin-right: 20px
    padding-top: 5px
  .aui-button
    margin-top: 3px
    height: 24px
    line-height: 10px

#canvas
  background: url(data:image/gif;base64,R0lGODlhFAAUAIAAAMDAwP///yH5BAEAAAEALAAAAAAUABQAAAImhI+pwe3vAJxQ0hssnnq/7jVgmJGfGaGiyoyh68GbjNGXTeEcGxQAOw==)
  .toolbox
    position: absolute
    color: #222
    cursor: pointer
    width: 200px
    background-color: #eeeeef
    border: 1px solid #346789
    @include border-top-radius(5px)
    @include border-bottom-radius(5px)
    @include border-left-radius(5px)
    @include border-right-radius(5px)
    &.highlight
      border-color: #f79232
    .titlebar
      @include border-top-radius(5px)
      @include border-bottom-radius(0px)
      height: 16px
      padding: 0 5px
      border-bottom: 1px solid #223133
      background: #00B5AD
      font-size: 12px
      .title
        float: left
        font-weight: bold
      .close-toolbox
        float: right
        color: #555555
        &:hover
          color: #222222

    table.params
      font-size: 12px
      margin: 2px 20px 2px 10px
      tr.param
        line-height: 16px
        label
          display: inline-block
          margin-right: 12px

#canvas-toolbar
  .pipeline-meta-title
    display: inline-block
    margin-left: -8px
    color: #555555
    text-overflow: ellipsis
  .buttons
    float: right

#tools-selector
  padding: 0
  .search
    width: 90%
    margin: 5px 2px
  .tool-link
    text-decoration: none
  .tool-help
    font-size: 0.8em
    margin-left: 0.4em
    text-decoration: none

  & > ul
    list-style: none
    padding-left: 0
    margin-top: 0
    margin-bottom: 0
    & > li
      &:first-of-type
        margin-top: 0
      &:last-of-type
        h5
          border-top: 1px solid #CCC
          border-bottom-width: 1px !important
      & > ul
        list-style: none
        margin: 0
        padding: 0 0 0 35px
        & > li
          margin: 2px 0
          font-size: 0.9em
          a
            &:hover
              text-decoration: underline

    h5
      cursor: pointer
      padding: 3px 10px
      margin: 0 0 0 0
      background-color: #f1f1f1
      border-top: 1px solid #CCCCCC
      border-bottom: 1px solid #CCCCCC
      font-size: 0.9em
      @include user-select(none)

      i
        width: 12px
        margin-right: 12px

    li.panel
      border-radius: 0
      margin-bottom: 0
      border-top: none

#job-summary
  padding: 0
  .refresh
    margin-right: 10px
    font-size: 1em
    float: right
  table.job
    padding: 0 5px
    margin-bottom: 10px
    width: 100%
    border-top: 1px solid #D1D1D1
    .status
      &.SUCCESS
        color: green
      &.FAILED
        color: darkred

.ui-layout-east.tabs-pane
  font-size: 0.8rem

.tree
  margin-top: 1em
  overflow-y: auto
  height: 500px

input.path
  width: 700px !important
  max-width: 700px !important

.param-label
  text-decoration: underline
  cursor: pointer

#boxes-props
  .box-props
    display: none
    ol
      padding-left: 5px
      list-style: none
      li.param
        border-top: 1px solid #DDD
        padding: 15px 0
        &:first-of-type
          padding-top: 0
          border-top: none
        .param-label
          display: block
          margin-bottom: 5px
          &:after
            content: ': '
        .desc
          font-size: 12px
          color: #3c3c3c
        input[type=text]
          width: 100%
          height: 25px
        input[type=checkbox]
          vertical-align: middle
        .select2-container
          width: 100%
          .select2-choices
            border: 1px solid #aaaaaa !important
          .select2-search-choice
            margin-top: 4px
          &.select2-dropdown-open .select2-choices
            padding-bottom: 0

.help-content
  font-size: 0.8rem
  ul, ol
    padding-left: 15px
  h1
    font-size: 1.2em
    margin-top: 0
    margin-bottom: 4px
  p
    margin: 5px 0

#minimap
  position: absolute
  top: 25px
  right: 25px
  z-index: 100
