= stylesheet_link_tag '//cloud.big.ac.cn/vam/aui/6.0.0/css/aui.min.css'
= stylesheet_link_tag '//cloud.big.ac.cn/vam/aui/6.0.0/css/aui-experimental.min.css'

= javascript_include_tag '//cloud.big.ac.cn/vam/jquery/2.1.3/index.js'

= javascript_include_tag '//cloud.big.ac.cn/vam/tinymce/4.4.3/js/tinymce/tinymce.min.js'

= javascript_include_tag '//cloud.big.ac.cn/vam/aui/6.0.0/js/aui.min.js'
= javascript_include_tag '//cloud.big.ac.cn/vam/aui/6.0.0/js/aui-experimental.min.js'
= javascript_include_tag '//cloud.big.ac.cn/vam/aui/6.0.0/js/aui-datepicker.min.js'
